@using Books_Comments.Service.ViewModels.Accounts;
@model AccountBaseViewModel


<li class="nav-item" style="margin-right: 0px;">
    <h2><span class="text-muted f-w-400" style="margin-right: 5px; margin-bottom: 14px"> @Model.UserName </span></h2>
</li>
<li class="nav-item dropdown" style="margin-right: 30px;">
    <div class="m-b-5" href="#" id="navbarDropdownMenuLink"
         role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img alt="Pic" src="@Model.ImagePath" width="53" height="53" />
    </div>
    <ul class="dropdown-menu" style="margin-right: 170px;" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="accounts" asp-action="Logout">LogOut</a></li>
    </ul>
</li>                