@using Books_Comments.Service.Dtos.Accounts;
@model AccountRegisterDto
@{
    Layout = "_AccontLayout.cshtml";
}

<div class="" style="margin-top: 150px; margin-left: 370px; margin-bottom: 50px; margin-right: 370px;">
    <div class="col-xl-30 col-md-50 card w-350px h-300">
    <form asp-area="" asp-controller="accounts" asp-action="registor" method="post">
        <div class="modal-header">
                <div class="modal-title h4">Create Account</div>
        </div>
        <div class="modal-body">

            <div class="mt-3 ">
                <label class="form-label" for="exampleForm.ControlTextarea1">Email </label>
                <input placeholder="Email" asp-for="Email" type="email" id="exampleForm.ControlTextarea1" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label class="form-label" for="exampleForm.ControlInput1">Name</label>
                <input placeholder="Name" asp-for="UserName" type="username" id="exampleForm.ControlInput1" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label class="form-label" for="exampleForm.ControlTextarea1">Enter Password</label>
                <input placeholder="Password" asp-for="Password" type="password" id="exampleForm.ControlTextarea1" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-3">
            </div>

        </div>
        <div class="modal-footer">
            <a class="btn btn-secondayr" asp-action="login" asp-controller="accounts">Sign In</a>
            <input type="submit" class="btn btn-primary" value="Sign Up" />
        </div>
    </form>
</div>
</div>